* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: rgb(0, 89, 255);
  width: 60px;
  height: 40px;
  border-radius: 10px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

input {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  box-shadow: 0 0 3px black;
}

button:hover {
  background-color: rgb(0, 60, 255);
}

.section {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section:not(:nth-child(2)) {
  display: none;
}

.num-container {
  width: 60%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 60%;
}

.form-container .input-field {
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
